body {
  font-family: sans-serif;
}
* {
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}
#app {
  background-color: blueviolet;
  max-width: 720px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 8px;
}

nav {
  /* Both of these are needed to keep the #menu-toggle visible when nav list is active / open. */
  position: relative;
  z-index: 1000;
  /********************************/
  top: 0;
  left: 0;
  width: 100%;
  align-items: baseline;
  display: flex;
  justify-content: space-between;
}
#fill {
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}
.nav-content {
  position: absolute;
  top: 0%;
  left: 100%;
  transform: translatex(-100%);
  opacity: 0;
  transition-delay: 300ms;
  background-color: red;
  width: 0vw;
}
.nav-menu .one,
.two {
  margin-bottom: 7px;
}
.nav-menu {
  width: 55px;
  color: white;
  z-index: 3;
}
.nav-menu div {
  background-color: white;
  height: 7px;
  margin-right: 15px;
}
.nav-menu.active div {
  background-color: rgb(228, 22, 22);
  height: 7px;
  margin-right: 15px;
}
.nav-content.active {
  z-index: 20;
  opacity: 1;
  top: 90%;
  left: 105%;
  color: greenyellow;
  background-color: red;
  transition-delay: 300ms;
  width: 20%;
}
